$colors: (
    primary: #fff6bb,
    primary-light-blue: #8DB9ED,
    primary-dark-blue: #2F4F4F,
    primary-line-color: #ccc,
    primary-dark: rgb(35,36,38),
    grey-color: #ddd,
    light-grey-color: #f2f2f2
);

@function color($color-name){
    @return map-get($colors, $color-name );
}


$tablet: 1024px; 
$phone: 480px;
$wide-screen: 1380px;
$mini-screen: 300px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin wide-screen {
    @media (max-width: #{$wide-screen}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}

@mixin mini-screen {
    @media (max-width: #{$mini-screen}) {
        @content;
    }
}

body {

    margin: 0;

    * {
        box-sizing: border-box;
      }

      a {
        text-decoration: none
      }
      
    nav {
        z-index: 1;

        .mytext {
            border: 0;
			display: inline-block;
			font-size: 1.4em;
			height: inherit;
            line-height: inherit;

            @include mini-screen {
                font-size: 7vw;
                margin: 0px;
            }
        }


    }
    .myNavLink {
        color: color(primary-light-blue);
    }
    /* Header Home page */
    header {
        background-image:url(https://lh3.googleusercontent.com/-sG-RetTbsjk/W59XaVQG2wI/AAAAAAAAEL8/vJjH7LI5bsApSr1u9g9nJ5r4KLUgigSegCJoC/w530-h330-n-rw/image.png);
        height: 100%;
        max-width: 100%;
    

        .headerDiv-content {
            display: flex;
            max-width: 100%;
            height: auto;
            padding-top: 20px;
    
          }

          
        .myHeading {
            color: color(primary);
            display: block;
            max-width: 100%;
            height: auto;
            align-content: center;
            margin: 20px;

            @include wide-screen {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
           

            @include tablet {
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }

            h2 { 
                font-size: 4.35em;
                font-weight: 900;
                letter-spacing: -0.035em;
                line-height: 1em;
                
                @include phone {
                    font-size: 20vw;
                    font-weight: 900;
                }
                
            }

            p {
                font-size: 1.5em;
			    margin: 0.75em 0 0.25em 0;
            }
            pre {
                font-size: 1.2em;
			    margin: 0.75em 0 0.25em 0;
                color: color(primary);
                margin-bottom: 10px;
            }
        }

        .header_img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 100%;
            height: auto;
            align-content: center;
            padding: 10px;
            opacity: 0.4;

        }

        img {
            @include phone {
                margin-bottom: 40px;
            }

            @include wide-screen {
                margin-bottom: 40px;
            }
        }

        hr.style {
            height: 15px;
            width: 100%;
            margin: auto;
            box-shadow: 0 15px 15px -10px color(primary-light-blue) inset; 
            border: 0;

            @include wide-screen {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

        }
    
        // Signup Form
        .signup {
            margin-bottom: 60px;
            display: block;
            max-width: 100%; 
           
    
            input[type=email], input[type=text] {
            padding: 6px;
            margin: 5px;
            font-size: 17px;
            border: none;
            border-radius: 4px;
            display: block;

            @include mini-screen {      
                font-size: 4.5vw;
            }

            @include wide-screen {      
                margin-left: auto;
                margin-right: auto;

            }
            }
            
    
            input[type=submit] {
            padding: 6px 8px;
            margin: 5px;
            background: color(primary-light-blue);
            color: color(primary-dark);
            font-size: 17px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            @include mini-screen {
                font-size: 4.5vw;
            }

            &:hover {
                background: color(primary-dark-blue);
                color: color(primary-line-color);
              }
        }
 
        @include mini-screen {
            margin-left: auto;
            margin-right: auto;
        }
        }

        
    }

    .responsive {
        @include tablet {
            display: block;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            text-align: center;
            max-width: 100%;
        }
  
      }
/* About Me Page */
      .row_flex {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        padding: 20px;

        .about_heading {
            width: 100%;

            hr {
                width: 20%;
                margin: auto;
                display: block;
                border-width: 3px;
                background: color(primary-line-color);

                @include wide-screen {
                    width: 30%;
                }

                @include phone {
                    width: 80%;
                }
            }

            h1 {
                text-align: center;
            }

        }
        // skills table 
        .details_aboutMe_row {
            display: flex;
            height: 100%;
            width: 100%;
            margin: 20px;


            .details_aboutMe_row > div {
                display: flex;
                width: 33%;
                padding: 20px;
                margin: 20px;


            }

            .myImg {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 80%;
                padding-right: 0px;
                padding-left: 20%;
                margin-right: 0px;

                @include phone {
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;
                    padding:0px;
                    border-radius: 40px;
                }
                @include wide-screen {
                    padding: 0px;
                    margin-left: auto;
                    margin-right: auto;
                }

                img {
                    @include phone {
                        border-radius: 50%;
                        margin: 10px;
                    }

                    @include wide-screen {
                        border-radius: 50%;
                        margin: 10px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
    
            }

            .myInfo {
                float: left;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px;

                @include phone {
                    padding: 0px;
                    margin: 0px;
                }
            }

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin: 0px;
            }
        }
 
        .skills_section {
            display: flex; 
            height: 100%;
            width: 100%;
            margin: 20px;

            @include tablet {
                margin: 0px;
                flex-flow: row wrap;
            }


            .skills_heading {
                width: 40%;
                @include tablet {
                    width: 100%;
                }

                h3 {
                    float: right;
                    @include tablet {
                        float: none;
                        text-align: left;
                    }
                }
                
            }

            .myTable {
                width: 60%;
                margin-left: 60px;

                @include tablet {
                    width: 100%;
                    margin-left: 80px;
                }
                @include phone {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                }

                table {
                    display: table;
                    table-layout: fixed;
                    width: 100%;  
                    empty-cells: hide;
                    
                }

            }
        }


      }


/* My work Page */

.img_row {
    position: relative;
    
}

.portfolio_img {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 20px;
    border: 1px solid color(primary-dark);
  }

.img_overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

  }

  .img_row:hover .img_overlay {
    opacity: 1;
  }

  .img_row:hover .portfolio_img{
    opacity: 0.3;
  }

  .overlay_text {
    padding: 12px 14px;
    background: color(primary-dark-blue);
    color: color(primary-dark);
    border: none;
    border-radius: 8px;
    

    .overlay_links {
        color: color(primary-line-color); 
        background-color: transparent; 
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;

        &:hover { 
            background: color(primary-light-blue);
            color: color(primary-dark);
        }
        
    }

      &:hover {
        background: color(primary-light-blue);
        color: color(primary-dark);
      }

    }

    /* Contact page */

    .get_inTouch {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: center;
    }


    .row {
        width: 100%;
        margin: 0px;

.column {
    float: left;
    padding: 40px;
    width: 100%; 
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

@include phone {
    .column {
        width: 100%;
        padding: 10px;
        }
    }

    @include wide-screen {
        .column {
            width: 100%;
            padding: 10px;
        }
    }  

.name_email {
    width: 100%;
    padding: 12px;
    border: 1px solid color(primary-line-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.name_email_row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;

    .name_email_div {
        flex: 50%;
        margin: 0px;
        padding: 5px;

        @include phone {
              flex: 100%;
          }
    }

}

.message_box {

    textarea {
        @extend .name_email;
        display: block;
        padding: 8px;
    }

    input[type=submit] {
        background: color(primary-light-blue);
        color: color(primary-dark);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: color(primary-dark-blue);
            color: color(primary-line-color);
        }
    }

}

// details contact 
.contact_container {
    background: color(grey-color);
    margin: 0px;
    padding: 20px;
    border-radius: 4px;
    width: 100%;

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @include wide-screen {
        text-align: center;
    }
  }


}


//footer
    footer {
        height: 100%;
        max-width: 100%;
        text-align: center;
        background: color(primary-dark);
        margin: 0;
        padding: 20px;
        display: block;
        
        
        .social_links {
            color: color(primary-light-blue);
            &:visited {
                color: color(primary-light-blue);
            }
            &:hover {
                color: color(primary-line-color);
            }

        }

          .footer_section_1 {
            width: 100%;
            align-items: center;
            justify-content: space-around;
            position: relative;
            margin-top: 5px;
          }
          .footer_section_1::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 10px;
            border-top: 1px solid color(primary-line-color);
            width: calc(100% - 20px)
          }

          .footer_overlap {
            position: relative;
            z-index: 2;
            background: color(primary-dark);
            padding: 0 20px;
            margin-top: 5px;
            margin-bottom: 8px;

            @include phone {
                padding: 5px;
                font-size: 4vw;
            }
          }

          .footer_heading_text {
            align-items: center;
            font-size: 3vw;
            font-weight: 900;
            color: color(primary);
            margin-bottom: 20px;

            @include phone {
                font-size: 6vw;
                font-weight: 900;
            }
            

          }
          .footer_heading_smallText {
            font-size: 0.6em;
            padding: 0px 20px;
            margin: 0px; 
          }
          .footer_overlap > a {
            font-size: 2.5em
          }
          .footer_overlap > a:not(:first-child) {
            margin-left: 0.38em
          }
        
          .footer-bottom-line {
            width: 100%;
            padding: 10px;
            border-top: 1px solid color(primary-line-color);
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .footer-bottom-line > div:first-child {
            margin-right: auto;
          }
          .copy_right {
            text-align: center;
            font-size: 1.0em;
            color: color(primary);
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            margin-bottom: 10px;
            
          }
          
    }

    @include mini-screen {
        font-size: 4vw;
    }
    

    
}
