{% extends "layout.html" %}
blablabla
{% block main %} 
<div class="row_flex">
	<div class="about_heading">
		<h1>About Me</h1>
		<hr>
	</div>
	<div class="details_aboutMe_row">
		<div class="myImg">
			<img src="https://lh3.googleusercontent.com/-7kAd_oQKp-U/WzunQEYSo0I/AAAAAAAAD6A/_npSfSywx4gYeDB7_AcWyNo1q6Sa3FgZgCJoC/w265-h353-n-rw/joe%2Bprofile.jpg" alt="Photo" class="img-thumbnail" width="300" height="100">
		</div>
		<div class="myInfo">
			<h3>Hi, It's Me!</h3>
			<p>
				I started my early IT career by obtaining a Diploma in PC Engineering from Brooklyn City College in Pretoria, South Africa, 
				where I subsequently owned and managed a company providing IT Services to embassies, offices and private clients. 
				As an Assistant Educator for Computer Application Technology on high school level, I facilitated knowledge and skills transfer, 
				mainly in computer network and fundamental web design. 
				<br>
				In 2017, seeking in-depth knowledge with regard to programming, I enrolled with <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x" target="_blank">CS50’s 
				<em>‘Harvard University's introduction to the intellectual enterprises of Computer Science and the art of programming’</em></a> through the online learning platform edX. 
				Despite this course being challenging for me as my personal entry-level course, I succeeded with 94 out of 100 possible points. 
				Through this course, I gained a robust understanding of computer science and programming and was taught how to solve programming problems efficiently and how to conceptualize, implement, and present a major programming project. 
				The languages include C, Python, SQL, and JavaScript plus CSS and HTML.
				<br>
				Going through the <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x" target="_blank">CS50</a> course has increased my desire to further develop my theoretical knowledge and practical skills in software and web development, 
				leading me to start with both <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x" target="_blank">CS50's ‘Web Programming with Python and JavaScript’</a> 
				as well as <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a> exercises, which I believe have the right curriculum mapping and provide the right tools for full stack web development. 
				Meanwhile, I am continuously enhancing my knowledge and skills as to Python, C and other programming languages.
			</p>
		</div>
		<div class="myInfo">
			<h3>My Personal Interests</h3>
			<p>
				When I am not coding my next project, I enjoy spending my time doing any of the following:
			</p>

			<ul>
				<li>I take my dogs for a walk</li>
				<li>I love learning German</li>
				<li>I do one hour run few times per week</li>
				<li>I love listening to music, and my favorites genre of music are:</li>
				<ul>
					<li>Hiphop</li>
					<li>Blues</li>
					<li>Jazz</li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="skills_section">
		<div class="skills_heading">
			<h3>My skills</h3>
		</div>
		<div class="myTable">
			<table>
				<thead>
					<tr>
						<th>Languages</th>
						<th>Frameworks</th>
						<th>Tools</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>C</td>		
						<td>Flask</td>
						<td>Bash</td>
					 </tr>
					 <tr>
						  <td>Python</td>
						  <td>Django</td>
						<td>Git & Github</td>
					</tr>
					<tr>
						<td>SQL</td>
						<td>Bootstrap</td>
						<td>Postman</td>
					</tr>
					<tr>
						<td>JavaScript</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>CSS/Sass</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>HTML</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			  </table>
		</div>
	</div>
  
</div>
{% endblock %}
