{% extends "layout.html" %}

{% block title %}
	Contact
{% endblock %}

{% block main %} 
<div class="get_inTouch">
	<h2>Get in touch</h2>
	<hr>
</div>
<div class="row">
	<div class="column left">
		<div class="container">
			<form action="#">
				<div class="name_email_row">
						<div class="name_email_div">
							<div>
									<label for="fname">Full Name</label>
							</div>
							<div>
									<input type="text" id="fname" name="firstname" placeholder="Your full name..." class="name_email form-control">
							</div>
						</div>
						<div class="name_email_div">
							<div>
									<label for="email">Email</label>
							</div>
							<div>
									<input type="email" id="email" name="email" placeholder="Your email..." class="name_email form-control">
							</div>	
						</div>
				</div>
				<div class="message_box">
					<label for="message">Message</label>
					<textarea id="message" name="message" placeholder="Type your message here..." style="height:200px" class="form-control"></textarea>
					
					<input type="submit" value="SEND MESSAGE">
				</div>
			</form>
		</div>
	</div>
	<div class="column right">
		<div class="contact_container">
			<h5><i class="fa fa-envelope"></i> Email</h5>
			<p>joe_online@outlook.com</p>
			<hr>
			<h5><i class="fa fa-phone"></i> Mobile (WhatsApp)</h5>
			<p>+243 (0) 819-810-142</p>
			<p>+243 (0) 973-260-160</p>
			<hr>
			<h5><i class="fa fa-map-marker" style="font-size:30px"></i> Location</h5>
			<p>Bukavu, DR Congo</p>
		</div>
	</div>
</div>
{% endblock %}
