{% extends "layout.html" %}

{% block title %}
	My Work
{% endblock %}

{% block main %} 
<section class="container">
    <div class="portf text-center">
        <h2>PORTFOLIO</h2>
        <hr>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="img_row col-sm-6">
                    <img src="https://lh3.googleusercontent.com/-ovSt6nJVi4U/W1TMLQL3MEI/AAAAAAAAD70/kq2GjLaBHo0Lrxw4xSH2p6A8SRx4-7EJQCJoC/w424-h318-n-rw/2018-07-22.png" alt="Photo" class="portfolio_img">
                    <div class="img_overlay">
                        <div class="overlay_text">
                            <a class="overlay_links" target="_blank" href="https://codepen.io/joerockafella/full/pVPppq/">
                                Wikipedia Viewer
                            </a>
                        </div>
                    </div>
                </div>
                <div class="img_row col-sm-6">
                    <img src="https://lh3.googleusercontent.com/-g8pKqCT1OIQ/W1TMLS87AoI/AAAAAAAAD70/rNkJ_mKXgqUM9DwSUG8ovax32MOmbCzYACJoC/w424-h318-n-rw/2018-07-22%2B%25282%2529.png" alt="Photo" class="portfolio_img">
                    <div class="img_overlay">
                        <div class="overlay_text">
                            <a class="overlay_links" target="_blank" href="https://codepen.io/joerockafella/full/djpGjJ">
                                Product Landing Page
                            </a>
                        </div>
                    </div>
                </div>
                <div class="img_row col-sm-6">
                    <img src="https://lh3.googleusercontent.com/-rWlhxkBAmWw/W1TMLc5rA5I/AAAAAAAAD70/ozyWpP2bgq0fCxptBUKW44YN-JpgL-JFQCJoC/w424-h318-n-rw/2018-07-22%2B%25284%2529.png" alt="Photo" class="portfolio_img">
                    <div class="img_overlay">
                        <div class="overlay_text">
                            <a class="overlay_links" target="_blank" href="https://codepen.io/joerockafella/full/MBWoPQ">
                                Patrice Lumumba's Tribute
                            </a>
                        </div>
                    </div>
                </div>
                <div class="img_row col-sm-6">
                    <img src="https://lh3.googleusercontent.com/-sE6wZAuWi3g/W1TMLS_HbeI/AAAAAAAAD70/Y7IPImwsL4AhcssyGkBF1pBMVswce6WuwCJoC/w424-h318-n-rw/2018-07-22%2B%25281%2529.png" alt="Photo" class="portfolio_img">
                    <div class="img_overlay">
                        <div class="overlay_text">
                            <a class="overlay_links" target="_blank" href="https://codepen.io/joerockafella/full/zLNewB">
                                Tech Documentation Page
                            </a>
                        </div>
                    </div>
                </div>
                <div class="img_row col-sm-6">
                    <img src="https://lh3.googleusercontent.com/-XpeUlXxGILo/W1TMLX4vgSI/AAAAAAAAD70/ss27XQt_kbsQMt1FFXvQ_HOzhr4Ol-D-ACJoC/w424-h318-n-rw/2018-07-22%2B%25283%2529.png" alt="Photo" class="portfolio_img">
                    <div class="img_overlay">
                        <div class="overlay_text">
                            <a class="overlay_links" target="_blank" href="https://codepen.io/joerockafella/full/ejNMoE">
                                Survey Form
                            </a>
                        </div>
                    </div>
                </div>
                <div class="img_row col-sm-6">
                    <img src="https://lh3.googleusercontent.com/-gO693WA0qMc/W1TMLd6Y04I/AAAAAAAAD70/wR7VH-JmwlElLkr4ahPeNIk3BMlertD8QCJoC/w424-h318-n-rw/2018-07-22%2B%25285%2529.png" alt="Photo" class="portfolio_img">
                    <div class="img_overlay">
                        <div class="overlay_text">
                            <a class="overlay_links" target="_blank" href="https://codepen.io/joerockafella/full/GxKLgZ">
                                Random Quote Machine
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
{% endblock %}
